@model Web_Api_Alexa.Customer

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <br />
        <h4>Login to your Alexa account</h4>

        <br/>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      
        
        <div class="form-group">
            <label>Account Number</label>
            @Html.EditorFor(model => model.Account_number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Account_number, "", new { @class = "text-danger" })
        </div>
        

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "ccontrol-label" })
            <div class="">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <button type="submit" class="btn btn-primary btn-block">Log in</button>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="~/Content/materialize/js/materialize.min.js"></script>
    }
</div>