@model Web_Api_Alexa.Customer

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <br />

        if (ViewBag.Message != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.Message
            </div>
            
            <div>
                <a href="/account/Login">Log in to your account. </a>
            </div>
        }
        else
        {

            <h4>Create a new Alexa Account </h4>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { htmlAttributes = new { @class = "control-label" } })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { htmlAttributes = new { @class = "control-label" } })
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.Phone_number, new { htmlAttributes = new { @class = "control-label" } })
                @Html.EditorFor(model => model.Phone_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone_number, "", new { @class = "text-danger" })
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { htmlAttributes = new { @class = "control-label" } })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "ccontrol-label" })
                <div class="">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gender, new { @class = "control-label" })
                <br />
                @Html.RadioButtonFor(model => model.Gender, "Male", false) @Html.Label("Male")
                @Html.RadioButtonFor(model => model.Gender, "Female", false) @Html.Label("Female")
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BirthDate, new { @class = "control-label" })
                <br />
                @Html.EditorFor(model => model.BirthDate, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>

            <div class="input-field">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        }
    }
</div>

